
form fieldset {
  float: center;
  width: 35%;
  margin-left:auto;
  margin-right:auto;
  background:#f6f1ee;  
}

div {
  margin: .4em 0;
}

div label {
  width: 25%;
  float: left;
}

input:focus {
  border: 3px solid #000;
  background: #F3F3F3;
}

button:focus {
  border: 3px solid #000;
  background: #F3F3F3;
}
button, input, select {
  font-family : inherit;
  font-size   : 100%;
}


input[type=text],input[type=number],select  {
    border: none;
    border-bottom: 2px black solid ;
}




